body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
  /*ie7*/
}

.fixed-td,
.fixed-th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}

.fix {
  position: absolute;
  /*ie7*/
  margin-left: -200px;
  width: 200px;
  z-index: 10;
  background: rgba(88, 26, 233, 1);
}

.fix-first {
  position: sticky;
  top: 0;
}

.baseline {
  align-content: baseline;
}

.compare-color {
  background: rgba(88, 26, 233, 1);
}

.compare-color-text {
  color: rgba(88, 26, 233, 1);
}

.outer {
  position: relative;
  overflow: hidden;
}

.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 900px;
}

.subgroup-colour {
  color: black !important;
  background-color: #C7EAE4 !important;
}

.bg-compare-column {
  background: rgba(88, 26, 233, 1);
}


.horizontal-scroll-except-first-column {
  width: 100%;
  overflow: auto;
}

.horizontal-scroll-except-first-column>table {
  margin-left: 0;
}

.horizontal-scroll-except-first-column>table>*>tr>th:first-child,
.horizontal-scroll-except-first-column>table>*>tr>td:first-child {
  /* position: absolute;
  width: 200px;
  margin-left: -350px; */
  background: rgba(88, 26, 233, 1);
  height: '40%';
}

.horizontal-scroll-except-first-column>table>*>tr>th,
.horizontal-scroll-except-first-column>table>*>tr>td {
  /* Without this, if a cell wraps onto two lines, the first column
   * will look bad, and may need padding. */
  /* white-space: nowrap; */
  min-width: 350px;
  max-width: 450px;
  height: '100%';
}


.view {
  overflow: auto;
  /* width: '100%'; */
}

.wrapper {
  position: relative;
  overflow: auto;
  border: 1px solid black;
  /* white-space: nowrap; */
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background: rgba(88, 26, 233, 1);
  height: '100%';
  border-bottom: 1px;
}

.first-col {
  min-width: 250px;
  max-width: 250px;
  height: '100%';
  left: 0px;
  top: 0;
  z-index: 9999;
}

.main-col {
  height: '100%';
  align-content: baseline;
  min-width: 250px;
  max-width: 250px;
}


.horizontal-scroll-except-first-column>table>*>tr>.main-col {
  /* Without this, if a cell wraps onto two lines, the first column
   * will look bad, and may need padding. */
  /* white-space: nowrap; */
  min-width: 350px;
  max-width: 450px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .max-h-table-comparison {
    max-height: 60vh;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .max-h-table-comparison {
    max-height: 60vh;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .max-h-table-comparison {
    max-height: 55vh;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .max-h-table-comparison {
    max-height: 49vh;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .max-h-table-comparison {
    max-height: 55vh;
  }
}

.triangle-1 {
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 999;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #F1F1F3 transparent;
  transform: rotate(90deg);
}

.triangle-2 {
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 999;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #E0DFE5 transparent;
  transform: rotate(90deg);
}

.triangle-3 {
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 999;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #CCCAD5 transparent;
  transform: rotate(90deg);
}

.triangle-4 {
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 999;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #B5B2C3 transparent;
  transform: rotate(90deg);
}

.triangle-5 {
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 999;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #A3A1B6 transparent;
  transform: rotate(90deg);
}