@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: rgb(49, 98, 98);
$secondary: rgb(27, 66, 55);
$tertiary: rgb(184, 183, 175);
$light: rgb(224, 228, 227);
$info: rgb(185, 194, 191);
$warning: rgb(35, 116, 93);
$success: rgb(84, 128, 115);
$danger:rgb(167, 57, 57);
$dark: #3e3f3e;
$alphabet: rgb(148, 148, 119);
$sidebar-unselected: rgb(224, 228, 227);
$sidebar-hover: rgb(152, 156, 155);
$sidebar-selected: rgb(129, 138, 138);
$selectable: rgb(31, 49, 185);
$selected: rgb(13, 19, 147);
$topbar-selected: rgb(144, 181, 181);
$pale: rgb(116, 161, 161);
$accordian: rgb(185, 192, 192);
$hover: rgb(123, 119, 6);
$unselectable: rgb(173, 184, 181);
$footer: rgb(41, 76, 76);

$theme-colors: (
  "primary": $primary, 
  "secondary": $secondary, 
  "tertiary": $tertiary, 
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "alphabet": $alphabet,
  "light": $light,
  "sidebar-unselected": $sidebar-unselected,
  "sidebar-hover": $sidebar-hover,
  "sidebar-selected": $sidebar-selected,
  "selected": $selected,
  "accordian": $accordian,
  "topbar-selected": $topbar-selected,
  "pale": $pale,
  "hover": $hover,
  "unselectable": $unselectable,
  "selectable": $selectable,
  "footer": $footer
);

@import '~bootstrap/scss/bootstrap.scss';
